@charset "UTF-8";

///*************************************
//* @_00 Styles de base formulaires
//*************************************/

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea{

}
select{
  padding:0;
}

input[type="submit"],
button{
padding:5px 10px;
vertical-align: middle;
border:none;
  &:focus{
    outline:none !important;
  }
}
label{
  display: inline-block;
  width: auto;
  margin:0 5px 5px 0;
  &.labelInline{
    text-align: right;
  }
  &.labelBlock{
    display: block;
  }
}
input[type="checkbox"],
input[type="radio"]{
  margin:0 3px 0 0;
  vertical-align: middle;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus 
textarea:focus,
select:focus {
  border: 1px solid #aaa;
  color: #444;
  -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
  box-shadow:  0 0 3px rgba(0,0,0,.2);
  outline:none !important; 
}